@import "variables.css";

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-transitional);
}

body {
  font-family: var(--font-humanist);
}

header > nav ul {
  padding: var(--size-5);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

header > nav a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 200px);
  display: grid;
  justify-content: center;
  align-content: start;
  section {
    margin: var(--size-fluid-4);
  }
}

footer {
  display: grid;
  place-items: center;
  background-color: var(--surface-4);
  section {
    margin: var(--size-fluid-2);
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1em;
  }
}

header figure figcaption {
  position: absolute;
  padding: var(--size-1);
  bottom: var(--size-7);
  right: 0;
  background: var(--surface-1);
}

header:has(.hero) {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background: var(--grape-0);
}

.hero {
  padding: var(--size-10);
  display: grid;
  gap: var(--size-5);
}

.hero-message {
  display: grid;
  grid-template-columns: max-content;
  line-height: var(--font-lineheight-0);
  strong {
    color: var(--accent);
  }
}

.button-list {
  display: flex;
  gap: var(--size-3);
}

html[data-turbo-visit-direction="forward"]::view-transition-new(root) {
  opacity: 0;
  animation: var(--animation-fade-in);
}

a.btn:hover {
  text-decoration: none;
}

a.icon {
  svg {
    inline-size: var(--size-5);
    block-size: var(--size-5);
    fill: var(--text-1);
  }
}