@import "variables.css";

:root {
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-transitional);
}

body {
  font-family: var(--font-humanist);
}

header > nav ul {
  padding: var(--size-5);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

header > nav a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 200px);
  box-shadow: var(--shadow-2);
  display: grid;
  place-items: center;
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

header:has(.hero) {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background: var(--grape-0);
}

.hero {
  padding: var(--size-10);
  display: grid;
  gap: var(--size-5);
}

.hero-message {
  display: grid;
  grid-template-columns: max-content;
  line-height: var(--font-lineheight-0);
}

.hero-message > div:last-child {
  color: var(--indigo-7);
}

.under-hero {
  font-size: var(--font-size-4);
  margin-block-end: var(--size-3);
}

.button-list {
  display: flex;
  gap: var(--size-3);
}

button {
  background: white;
  color: var(--indigo-8);
  font-size: var(--font-size-3);
  padding-inline: var(--size-8);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

button.primary {
  background: var(--indigo-8);
  text-shadow: 0 1px 0 var(--indigo-9);
  color: white;
}

button.primary:hover {
  background: var(--indigo-7);
}

.promo-art {
  align-self: stretch;
}

.promo-art > img {
  block-size: 636px;
  object-fit: cover;
  object-position: 213%;
  width: 100%;
  min-width: 450px;
}

section.cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  max-inline-size: calc(var(--size-content-2) * 4);
  gap: var(--size-5);
  padding: var(--size-5);
}

.card {
  flex-basis: var(--size-content-2);
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
}

.card > h5 {
  line-height: var(--font-lineheight-1);
}

body {
  display: grid;
  place-content: center;
}