<footer>
  <section>
  <p>
  <a href="<%= metadata.linkedin %>" class="icon" target="_blank"><%= render "linkedin-svg" %></a>
  <br>
  <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
  </p>
  </section>
</footer>
